/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 


nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(42, 58, 69);
    align-items: center;
}

.head{
    display: flex;
    justify-content:baseline;
    gap: 150px;
}

.profile-logo{
    text-align: center;
}

.profile-logo h3{
    color: white;
    font-size: 20px;
}

.profile-logo img{
    height: 100px;
    border-radius: 10px;
	width: 60%;
    cursor: pointer;
    border: 2px solid white;
    padding: 2px;
}

.profile-logo img:hover{
    transform: scale(1.10);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}


.dropdown i:hover {
    transform: scale(1.20);
    cursor: pointer;
}

.dropdown{
    display: none;
    position: relative;
}

.dropdown-content{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 0px;
    width: 120px;
    display: none;
    position: absolute;
    padding: 0px 2px;
    top: 50px;
    right: 5%;
    background-color: #1f407a;
    transition: height 1s;
    text-align: center;

}

.dropdown-content a{
    color: transparent;
    transition: color 1s;
    margin-bottom: 10px;
    text-align: center;
}

.dropdown:hover .dropdown-content{
    height: auto;
    padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-bottom: 10px;
}

.dropdown:hover .dropdown-content a{
    color: white;
    align-items: center;
   
}

.dropdown-content a:hover
{
    background-color: white;
    color: black
    !important;
    
}

nav ul{
    list-style: none;
}

nav ul li{
    padding-right: 40px;
    display: flex;
}

nav ul li a{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}
/*************************************/

:root {
	--primary-color: #20498a;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body{
    min-height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background: #030303;
}

.add-form{
    color: white;
    width: 80px;
    background-color: #4070f4;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.remove-form{
    color: white;
    display: none;
    width: 80px;
    background-color: #4070f4;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.container{
    position: relative;
    border-radius: 10px;
    padding: 30px;
    margin: 80px 80px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 40px;
    font-weight: 1000;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 120px;
    border-radius: 8px;
    background-color: #4070f4;
}

.container .form{
    position: relative;
    margin-top: 16px;
    min-height: 720px;
     background-color: #fff; 
    overflow: hidden;
}
.container .form{
    background-color: #fff;
    transition: 0.3s ease;
}

#container-title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 1000;
    margin: 6px 0;
    color: #333;
}

.title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 1000;
    margin: 6px 0;
    color: #333;
}
.fields{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.title-style{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}
.experience{
    border-bottom: 2px solid #1f407a;
    padding: 2px;
    border-radius: 5px;
    margin: 20px 0px;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
#about-me, .input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#about-me{
    padding: 10px;
}


#about-me::placeholder{
    font-size: 20px;
}


.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container .deleteButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #cc2923;
    transition: all 0.3s linear;
    cursor: pointer;
}

#saveBtn{
    margin-top: 80px;
}

.container .btnText{
    font-size: 14px;
    font-weight: 400;
}

.container button:hover{
    background-color: #265df2;
}
.container .deleteButton:hover{
    background-color: #020304;
}

.hidden {
    display: none;
}
.edit-form{
    display: flex;
    float: left;
    width: 50%;
}
.resume-display {
    display: flex;
    float: left;
    width: 50%;
	font-family: Inter, sans-serif;

    .title {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .item_title {
        font-size: 1.6rem;
        color: white;
        font-weight: 500;
        margin: 0.8rem 0;
    }
    .container {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        display: grid;
        padding: 5rem;
        background: #070707;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    
}

.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.group-3 > div {
	flex: 1;
}

.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}



.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

.skills_list li{
	font-size: 1.4rem;
	color: white;
	font-weight: 500;
	margin: 1.5rem 0;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* awards */
.awards_item {
	margin-top: 2rem;
}
/* Interests */
.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}
.interest_item svg {
	width: 2rem;
}

/* socials */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}

.profile_profileImg {
	max-width: 250px;
}
.profile_name_firstName {
	color: white;
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
    color: white;
	text-transform: uppercase;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

.resume-display img{
	width: 100%;
	font-size: 10px;
}
.resume-display a{
	text-decoration: none;
	color: white;
    overflow: visible;
    height: 100%;
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}


@media screen and (max-width: 860px) {
    .container .form{
        overflow-y: scroll;
    }
    .container .form::-webkit-scrollbar{
       display: none;
    }
    
    
}


@media screen and (max-width: 1400px)
{
    .profile_container {
		flex-direction: column;
	}
}
@media screen and (max-width: 1080px)
{
    .profile-logo{
        scale: 80%;
    }
    

    .fields .input-field{
        width: calc(100% / 2 - 15px);
    }

    .dropdown-content{
        display: block;
        z-index: 1;
    }


    .head{
        display: none;
    }

    .dropdown{
        display: block;
    }
    
    .container{
        position: relative;
        border-radius: 0px;
        padding: 20px;
        margin: 0px 0px;
        background-color: #fff;
    }
    
}

@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
    .fields .input-field{
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .resume-display .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    .profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
    
}